:root {
  --primary-color: #e9ecf2;
  --secondary-color: #4a576f;
  --text-color: #fff;
}

html,
body {
  font-family: Helvetica, Arial, sans-serif;
}
/* Menu de la page */
.navi {
  display: block;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
/* main de la page */
.dashcorp {
  padding-top: 60px;
  padding-left: 5px;
  padding-bottom: 5px;
}
/* footer de la page */
footer a {
  color: #fff;
}
.btn {
  border: 1px solid #fff;
}
.useri {
  font-size: 30px;
}
