:root {
  --primary-color: #e9ecf2;
  --secondary-color: #4a576f;
  --text-color: #fff;
}

html,
body {
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  background-color: var(--primary-color) !important;
}
/* Menu de la page */
.navi {
  display: block;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
/* Corp de la page */
#dashcorp {
  padding-top: 60px;
  padding-left: 5px;
}

#dashboard {
  width: 15%;
  height: 800px;
  border: 1px solid black;
  background-color: blue;
  display: inline-block;
}

#corp {
  width: 84%;
  height: 800px;
  border: 1px solid black;
  background-color: blueviolet;
  display: inline-block;
}
/* page connexion */
#connexion {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 10%;
}

h1 {
  text-align: center;
  font-size: 40px !important;
}

#corp figure {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

#corp img {
  border: solid 2px black;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/* footer de la page */
footer a {
  color: #fff;
}
